
html,body{
	height: 100%;

}

body
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	/*overflow-x:hidden;*/
	margin:0;
	background-color: black;

	display: flex;
	justify-content: center;
	/*height: auto;*/
}

.content 
{
	display: none;
	height: 100%;
}

.logoDreamContainer
{
	display: flex;
	justify-content: center;
	
	width: 100%;
	height: 400px;
	
}

.logoDream
{
	
	background-image: url("../media/Dream.png");
	width: 50%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000000bf;
}

body::-webkit-scrollbar
{
	width: 6px;
	background-color: white;
}

body::-webkit-scrollbar-thumb
{
	background-color:white;
}

div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

	background-color: #000000bf;
}

div::-webkit-scrollbar
{
	width: 6px;
	background-color: white;
}

div::-webkit-scrollbar-thumb
{
	background-color:white;
}

.portada
{
	height: 100%;
	width: 100%;
	cursor: pointer;
	background-image: url("../media/title.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo
{
	height: 20%;
	width: 20%;

	background-image: url("../media/logo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;  
}


.Maintitle
{

	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 120px;
	text-shadow: 0 0.032em 0 #b0b0b0, 0px 0.15em 0.11em rgba(0,0,0,0.35), 0px 0.25em 0.021em rgba(0,0,0,0.3), 0px 0.32em 0.32em rgba(0,0,0,0.3);
    color: #fff;
	text-transform: uppercase;
}

.Mainsubtitle
{

	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 40px;
	text-shadow: 0 0.032em 0 #b0b0b0, 0px 0.15em 0.11em rgba(0,0,0,0.35), 0px 0.25em 0.021em rgba(0,0,0,0.3), 0px 0.32em 0.32em rgba(0,0,0,0.3);
    color: #fff;
	text-transform: uppercase;
}

.timeline
{
	display: flex;
	align-items: center;
	flex-direction: column;
	height: auto;
	width: 100%;

	background-color: black;
}

.timelineTitle
{

	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 82px;
	text-align: center;
    color: #fff;
	text-transform: uppercase;
	
	padding-top: 50px;
	padding-bottom: 30px;
	box-sizing: border-box;
}

.itemJob
{

	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	margin-bottom: 30px;
}

.imgJob
{
	width: 50%;
	height: 100%;

	background-size: contain;
	background-repeat: no-repeat;
	/*background-image: url("../media/openmags.png");*/

	align-self: center;
	background-position: center;
}

.imgItem
{
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	/*background-image: url("../media/openmags.png");*/

	align-self: center;
	background-position: center;
}

.textJob
{
	align-self: center;
	width: 40%;
	margin-left: 20px; 
	margin-right: 20px;
}

.titleJob
{
	font-size: 60px;
}

.descJob
{
	font-size: 35px;
}


.projects
{
	width: 100%;
	height: 100%;
	/*scroll-behavior: auto;*/
	overflow: hidden;
	display: flex;
	margin-bottom: 50px;
    margin-top: 50px;
}

.Itemsprojects
{
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	background-color: black;
	width: 50%;
	height: 100%;
	overflow-y: scroll;
}

.itemProject 
{
	min-height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
}

.imgProject
{
	width: 35%;
	height: 280px;

	background-size: contain;
	background-repeat: no-repeat;
	/*background-image: url("../media/openmags.png");*/

	align-self: flex-end;
	background-position: bottom;
}

.textProject
{
	align-self: flex-end;
	width: 40%;
	margin-left: 20px; 
	margin-right: 20px;
}

.titleProject
{
	font-size: 2vw;
}

.descProject
{
	font-size: 1vw;
}

.Sliderprojects
{
	z-index: -1;
	overflow: hidden;
	overflow-x:hidden;
	width: 50%;
	height: 100%;
}
.imgContainerSlider
{
	position: absolute;
	height: 100%;
	width: 50%;
	left: 0;
	overflow-x:hidden;
}

.imgSlider
{
	/*position: a*/
	height: 100%;
	width: 100%;

	overflow-x:hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.button
{
	display: flex;
	justify-content: center;
	
	
	
}

.button_span
{
	margin: 10px;
	width: 20%;
	border-radius: 5px;
	background-color: white;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	text-align: center;

	text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.galleryContainer
{
	width: 100%;
	display: flex;
	justify-content: center;
}
.gallery
{
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	justify-content: center;

}

.ItemGallery
{
	position: relative;
	min-height: 300px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	
	transition: all 2s ease;
transform: perspective(600px);
transform-origin: 100% 50%;
transform-style: preserve-3d;

display: flex;
    justify-content: center;
    align-items: center;

}

.ItemGalleryClick
{
	transform: perspective(600px) rotateY(-180deg) translateX(100%);
}

.imageGallery,.textGallery
{
	position: absolute;
	backface-visibility: hidden;
}

.textGallery
{
	width: 100%;
	/*height: 100%;*/
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 30px;
	text-align: center;
	transform: rotateY(-180deg);
	background-color: #424242;

	border-radius: 20px;
}

.imageGallery
{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.ItemGalleryContainer
{
	min-height: 300px;
    width: 40%;
    margin: 30px;
    cursor: pointer;
}

.CurrentProjectContainer
{
	height: 100%;
    position: relative;

	/*overflow: hidden;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundCurrentProject
{
	height: 100%;
    width: 100%;
    position: absolute;

    animation-name: currentProjectSlider;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    /*animation-direction: alternate-reverse;*/
    animation-timing-function: ease-in-out;
    /*animation-delay: 2s;*/


}

.bgCurrentProject
{
	/*position: absolute;*/
	overflow: hidden;
	width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}



@keyframes currentProjectSlider {
    0% { top:0 }
    30% { top:0 }                                                      
    50% { top:-100%;}
    80% { top:-100%;}   
    100% { top:0 }    
}
a{
	text-decoration: none;
	color: white;
}

.navMenuContainer
{
	height: 50px;
	width: 30%;
	position: fixed;
	top: 0;
	
	background-color: #42424296;
	
	border-radius: 12PX;
	z-index: 5;
	display: none;
	justify-content: center;
}

.navMenu
{
	
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	

}

.itemMenu
{
	width: 30%;
	height: 100%;
	color: white;
	font-size: 2em;
	display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 12PX;
    perspective: 1000px;

    transition: all 1s ease;

}

.itemMenu:hover
{

	background-color: #060606b5;
	width: 40%;


}


.box
{
	position: fixed;
	display: flex;
	right: -24%;
	top: 50%;
	background-color: #424242;
	border-radius: 20px;
	text-align: center;
	color: white;
	font-size: 2em;
	width: 25%;
	transition: all 2s ease;
	text-align: center;
}
.limit
{
	background-color: white;
	width: 6%;
	height: inherit;
	border-radius: 20px 0 0 20px;
}

.box:hover
{
	position: fixed;
	right: 0;
	top: 50%;
	text-align: center;
	
}

.textBox
{
	background-color: #424242;
	width: 100%;
	left: 6%;
	display: flex;
	justify-content: center;
}


/*LANDSCAPE*/

/*Tablet*/
@media only screen  
and (min-width:768px) 
and (max-width:1025px)
and (orientation: landscape)
{
	.CurrentProjectContainer
	{

		height: 200%
	}
	.portada
	{
		/*height: 750px;*/
		background-size: contain;

	}
	.noPhone
	{
		display:none;
	}
	.box
	{
		display: none;
	}
	
	
	.navMenuContainer
	{
		width: 60%;
		height: 70px;
	}
	.projects
	{
		height: auto;
	}
	.Sliderprojects
	{
		display: none;
	}

	.Itemsprojects
	{
		width: 100%;
	}

	.itemProject
	{
		flex-direction: column;
		align-self: center;

		margin-top: 40px;
		margin-bottom: 40px;
	}

	.itemJob
	{
		flex-direction: column;
		align-self: center;
		height: 100%;

		margin-top: 40px;
		margin-bottom: 40px;
	}
	.imgJob
	{
		min-height: 50%;
		width: 100%;
		align-self: center;
		margin-bottom: 20px;
	}
	
	.imgProject
	{
		width: 50%;
		align-self: center;
	}

	.textJob
	{
		align-self: center;
		width: 70%;
	}

	.textProject
	{
		align-self: center;
		width: 60%;
	}

	.titleProject
	{
		font-size: 3em;
	}

	.descProject
	{
		font-size: 2em;
	}
	.button_span
	{
		width: 50%;
		font-size: 1em;
	}

	.galleryContainer
	{
		width: 100%;
	}

	.ItemGalleryContainer
	{
		min-height: 402px;
    	width: 100%;
    
	}
}

/*Phone*/
@media only screen 
and (max-width:767px)
and (orientation: landscape)
{

	.CurrentProjectContainer
	{

		height: 200%
	}
	.noPhone
	{
		display:none;
	}

	.box
	{
		display: none;
	}
	
	
	.navMenuContainer
	{
		width: 60%;
		height: 70px;
	}
	.projects
	{
		height: auto;
	}
	.Sliderprojects
	{
		display: none;
	}

	.Itemsprojects
	{
		width: 100%;
	}

	.itemProject
	{
		flex-direction: column;
		align-self: center;

		margin-top: 40px;
		margin-bottom: 40px;
	}

	.itemJob
	{
		flex-direction: column;
		align-self: center;
		height: 500px;

		margin-top: 40px;
		margin-bottom: 40px;
	}
	.imgJob
	{
		min-height: 50%;
		width: 50%;
		align-self: center;
		margin-bottom: 20px;
	}
	
	.imgProject
	{
		width: 50%;
		align-self: center;
	}

	.textJob
	{
		align-self: center;
		width: 70%;
	}

	.textProject
	{
		align-self: center;
		width: 60%;
	}

	.titleProject
	{
		font-size: 3em;
	}

	.descProject
	{
		font-size: 2em;
	}
	.button_span
	{
		width: 50%;
		font-size: 1em;
	}

	.galleryContainer
	{
		width: 100%;
	}

	.ItemGalleryContainer
	{
		min-height: 402px;
    	width: 100%;
    
	}
	.portada
	{
		height: 750px;
		background-size: contain;

	}
}



/*PORTRAIT*/

/*Tablet*/
@media only screen  
and (min-width:768px) 
and (max-width:1025px)
and (orientation: portrait)
{
	.portada
	{
		height: 570px;
		background-size: contain;

	}
	.noPhone
	{
		display:none;
	}
	.box
	{
		display: none;
	}
	
	
	.navMenuContainer
	{
		width: 60%;
		height: 70px;
	}
	.projects
	{
		height: auto;
	}
	.Sliderprojects
	{
		display: none;
	}

	.Itemsprojects
	{
		width: 100%;
	}

	.itemProject
	{
		flex-direction: column;
		align-self: center;

		margin-top: 40px;
		margin-bottom: 40px;
	}

	.itemJob
	{
		flex-direction: column;
		align-self: center;
		height: 100%;

		/*margin-top: 40px;*/
		margin-bottom: 70px;
	}
	.imgJob
	{
		height: 40%;
		width: 100%;
		align-self: center;
		margin-bottom: 20px;
	}
	
	.imgProject
	{
		width: 50%;
		align-self: center;
	}

	.textJob
	{
		align-self: center;
		width: 70%;
		height: auto;
	}

	.textProject
	{
		align-self: center;
		width: 60%;
	}

	.titleProject
	{
		font-size: 3em;
	}

	.descProject
	{
		font-size: 2em;
	}
	.button_span
	{
		width: 50%;
		font-size: 1em;
	}

	.galleryContainer
	{
		width: 100%;
	}

	.ItemGalleryContainer
	{
		min-height: 402px;
    	width: 100%;
    
	}
}

/*Tablet*/
@media only screen  
and (min-width:768px) 
and (max-width:1025px)
and (orientation: portrait)
{
	.portada
	{
		height: 570px;
		background-size: contain;

	}
	.noPhone
	{
		display:none;
	}
	.box
	{
		display: none;
	}
	
	
	.navMenuContainer
	{
		width: 60%;
		height: 70px;
	}
	.projects
	{
		height: auto;
	}
	.Sliderprojects
	{
		display: none;
	}

	.Itemsprojects
	{
		width: 100%;
	}

	.itemProject
	{
		flex-direction: column;
		align-self: center;

		margin-top: 40px;
		margin-bottom: 40px;
	}

	.itemJob
	{
		flex-direction: column;
		align-self: center;
		height: 100%;

		/*margin-top: 40px;*/
		margin-bottom: 70px;
	}
	.imgJob
	{
		height: 40%;
		width: 100%;
		align-self: center;
		margin-bottom: 20px;
	}
	
	.imgProject
	{
		width: 50%;
		align-self: center;
	}

	.textJob
	{
		align-self: center;
		width: 70%;
		height: auto;
	}

	.textProject
	{
		align-self: center;
		width: 60%;
	}

	.titleProject
	{
		font-size: 3em;
	}

	.descProject
	{
		font-size: 2em;
	}
	.button_span
	{
		width: 50%;
		font-size: 1em;
	}

	.galleryContainer
	{
		width: 100%;
	}

	.ItemGalleryContainer
	{
		min-height: 402px;
    	width: 100%;
    
	}
}